body {
  background: white;
  color: black;
}
a:link {
  color: #00f;
  background: transparent;
  text-decoration: underline;
}
a:visited {
  color: #060;
  background: transparent;
  text-decoration: underline;
}
a:link:hover {
  color: white;
  background: #006;
  text-decoration: underline;
}
a:visited:hover {
  color: white;
  background: #060;
  text-decoration: underline;
}
a:link:active {
  color: white;
  background: #00f;
  text-decoration: underline;
}
a:visited:active {
  color: white;
  background: #0d0;
  text-decoration: underline;
}
h1 {
  color: #505;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  font-variant: normal;
  font-style: italic;
}
h2 {
  color: #005;
  text-align: left;
  font-size: 150%;
  font-weight: bold;
  font-variant: normal;
  font-style: italic;
}
h3 {
  color: #255;
  text-align: left;
  font-size: 120%;
  font-weight: bold;
  font-variant: normal;
  font-style: italic;
}
h4 {
  color: black;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  font-variant: normal;
  font-style: italic;
}
em {
  font-style: italic;
  background: #0f9;
}
pre {
  padding: 1%;
  font-family: monospace;
  border: 1px solid black;
}
table {
  border: 1px solid black;
}
caption {
  font-style: italic;
}
th {
  border: 1px solid black;
  text-align: center;
  padding: 2px;
  font-style: normal;
  font-weight: bold;
}
td {
  border: 1px solid black;
  text-align: left;
  padding: 2px;
}
ul {
  list-style: square outside none;
}
ol {
  list-style: decimal outside none;
}
.silentlist {
  list-style: none outside none;
}
.F {
  background: #5ff;
}
.RF {
  background: #5f5;
}
.free {
  background: #9f9;
}
.rest {
  background: #ff9;
}
.section {
  text-align: center;
}
.svn {
  font-size: 80%;
}
.langlist {
  font-size: 100%;
}
.copyright {
  font-size: 80%;
  padding: 5px;
  border: 1px solid red;
}
.publicdomain {
  font-size: 80%;
  padding: 5px;
  border: 1px solid green;
}
